blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
Flask-Mail
google-auth
google-auth-oauthlib
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
pip
psycopg2-binary
pyasn1
pyasn1_modules
python-dotenv
requests
requests-oauthlib
rsa
urllib3
Werkzeug
sqlalchemy
flask_sqlalchemy
flask-talisman
bleach
flask-limiter
flask-wtf
supabase
APScheduler==3.10.4
tinycss2
google-api-python-client
