<!DOCTYPE html> <!-- Documento HTML5 -->
<html lang="es"> <!-- Lenguaje español -->
<head> <!-- Sección de encabezado -->
    <meta charset="UTF-8">  <!-- Codificación de caracteres UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configuración de vista para dispositivos móviles -->
    <title>Cuenta no registrada NoteFlow</title> <!-- Título de la página -->
    <link rel="stylesheet" href="/static/formulario.css"> <!-- Enlace a la hoja de estilos CSS -->
    <link rel="icon" type="image/icon" href="../static/logocircular.png"> <!-- Imagen-->
</head>     <!-- Fin de la sección de encabezado -->

<body> <!-- Cuerpo del documento -->
    <form class="formulario" style="text-align: center; padding: 30px;"> <!-- Formulario centrado con padding -->

        <h2 class="h2-registro" style="color: #e74c3c;">¡Ops! Algo salió mal</h2> <!-- Título con estilo -->

        <p style="font-size: 18px; margin-top: 10px;"> <!-- Párrafo con estilo -->
            No puedes iniciar sesión con una cuenta no registrada. <!-- Mensaje informativo --> 
        </p>

        <p style="margin-top: 5px; margin-bottom: 25px; color: #555;">  <!-- Párrafo con estilo -->
            Inténtalo nuevamente con una cuenta registrada.<!-- Mensaje adicional -->
        </p>
        <!--Inicio del boton-->
        <button type="button" onclick="window.location.href='/registro.html'" 
            style="
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: #3498db;
                color: white;
                font-size: 16px;
                cursor: pointer;
            "> <!-- Boton para ir a registrarse-->
            Ve a Registrarte  <!-- Texto del botón -->
        </button> <!-- Fin del botón -->
    </form> <!-- Fin del formulario -->
</body> <!-- Fin del cuerpo del documento -->
</html>
