<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | NoteFlow</title>
    <link rel="stylesheet" href="/static/formulario.css">
</head>
<body>
    <form class="formulario" action="/procesar-login" method="POST">
        <nav>
            <ul class="formulario-ul">
                <li class="li-formulario"><a href="/iniciarsesion.html" class="activo">Iniciar Sesión</a></li>
                <li class="li-formulario"><a href="/registro.html">Registro</a></li>
            </ul>
        </nav>

        <h2 class="h2-registro">INICIAR SESIÓN</h2>

        <section class="inputs">
            <label>Apodo o alias</label>
            <input type="text" name="usuario" placeholder="Tu apodo o alias" required>

            <label>Contraseña</label>
            <input type="password" name="contraseña" placeholder="Tu contraseña" required>
        </section>

        <button type="submit">Entrar</button>

        <p>O inicia sesión con:</p>

        <button type="button" class="google-btn">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" alt="Google">
            <span>Iniciar sesión con Google</span>
        </button>

        <p style="margin-top: 15px;">¿No tienes cuenta? <a href="/registro.html">Registrarse</a></p>
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </form>
</body>
</html>